
<br />
<span>================== AddBank Partial View  Start ======================</span>
    <h3>這是 AddBank Partial View，可以在Action中設定ActionName=AddBank來調用</h3>
<span>================== AddBank Partial View  End ======================</span>


