
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexHello</title>
</head>
<body>
    <h3>這是Index Hellow</h3>
    <div> 
        
    </div>
</body>
</html>
