
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index81</title>
</head>
<body>
    <span>Index8 查詢條件 = @ViewBag.QMsg</span> 
    <div> 
    </div>
</body>
</html>
