
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>這是Lession1的Index</title>
</head>
<body>
    <h3>這是Lession1的Index!</h3>
    <div> 
    </div>
</body>
</html>
