@model MyMVC.Models.BankCode

    <h3>這是 Index92 Partial View - Action要帶一個BankCode Model</h3>
    
    銀行名稱 = @Html.Label("BankName", Model.BankName)<br />
    銀行代碼 = @Html.Label("BankNo", Model.BankNo)<br />

